
body{
    margin: 0;
}

main{
    
display: grid;
grid-template-columns: 1fr 1.25fr;
grid-auto-rows: 75px;
/* place-items: center start;  */

}

 /* for kids */
 main > *{
    display: flex;
    align-items: center;
}

.jokeItem{
    padding: 10px;
    background-color: darkseagreen;
grid-column-start: 1;
grid-column-end:3 ;
grid-row-start: 1;
grid-row-end:2;


}

.deleteItem{
   justify-content: center;
    background-color: rgb(188, 143, 143);
    color: floralwhite;
    text-align: center;
    grid-column-start: 2;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end:2;

}